argparse
dill
fire
matplotlib
numba
psutil
pycocotools
requests
scikit-image
scipy
slidingwindow
tqdm
git+https://github.com/ppwwyyxx/tensorpack.git
# python-uinput
git+https://github.com/ildoonet/tf-pose-estimation.git
python3-xlib
pyautogui